@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
div.editor {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.1;
    letter-spacing: .1px;
    color: #666666;
    line-height: 21px;
    text-align: justify;
}


div.editor h4, div.editor h3, div.editor h2 {
    color: #154879;
    text-align: left;
    font-weight: 400;
    line-height: 1.1;
}

div.editor h4 {
    font-size: 18px;
}

div.editor h3 {
    font-size: 18px;
}

div.editor h2 {
    font-size: 26px;
}

div.editor figure {
    margin: 0;
}

div.editor figure.left {
    float: left;
    padding: 0 8px 0 0;
}

div.editor figure.right {
    float: right;
    padding: 0 0 0 8px;
}

div.editor figure.no-padding {
    padding: 0 !important;
}

div.editor figure.left div[data-offset-key], div.editor figure.right div[data-offset-key] {
    position: relative;
}

div.editor figure.left div.toolbar, div.editor figure.right div.toolbar {
    z-index: 2;
    position: absolute;
}

div[data-contents] {
    overflow: auto;
}
